@charset "UTF-8";
.button {
	  background-color: #4CAF50; /* Green */
	  border: none;
	  color: white;
	  padding: 8px 18px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 15 px;
	  margin: 0px 2px;
	  transition-duration: 0.4s;
	  cursor: pointer;
	  border-radius: 8px;
	  /* margin-left: 200px; */
	  margin-bottom: 22px;
	}
	.button1 {
	  background-color: #4CAF50; 
	  color: white; 
	  border: 2px solid while;
	  margin-left: 300px;
	}
	.button1:hover {
	  background-color: white;
	  color: black;
	  border: 2px solid black;
	}
	.button2 {
	  background-color: #0000FF; 
	  color: white; 
	  border: 2px solid while;
	  margin-left: 800px;
	}
	.button2:hover {
	  background-color: white;
	  color: black;
	  border: 2px solid black;
	}
	h1 {
	  margin: 0 0 0.25em;
	  color:black;
	}
	/* Thiết kẻ thẻ select */
	select {
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  -ms-appearance: none;
	  appearance: none;
	  outline: 0;
	  box-shadow: none;
	  border: 0 !important;
	  background: #FF9933;
	  background-image: none;
	}
	
	.select {
	  position: relative;
	  display: flex;
	  width: 20em;
	  height: 3em;
	  line-height: 3;
	  background: #FF9933;
	  overflow: hidden;
	  border-radius: .25em;
	  margin-left: 50px;
	}
	select {
	  flex: 1;
	  padding: 0 .5em;
	  color: #fff;
	  cursor: pointer;
	}
	/* thiết kế dấu mũi tên */
	.select::after {
	  content: '\25BC';
	  position: absolute;
	  top: 0;
	  right: 0;
	  padding: 0 1em;
	  background: FF9933;
	  cursor: pointer;
	  pointer-events: none;
	  -webkit-transition: .25s all ease;
	  -o-transition: .25s all ease;
	  transition: .25s all ease;
	  color: white;
	}
	/* Transition */
	.select:hover::after {
	  color: Gainsboro;
	}
	.orderI{
	  border: 2px solid #b0aaaa;
	  width: 1000px;
	  padding: 10px;
	  margin-left: 300px;
	  margin-bottom: 40px;
	  background-color: #F5FFFA;
	  border-radius:20px;
	}
	.row{
	  border-top: 1px solid #ef9b25;
	  border-bottom: 1px solid #ef9b25;
	  width: 900px;
	  margin-left: 50px;
	}
	.app{
		margin-bottom: 150px;
	}
	.item2:not(.parent){
		display: flex;
		margin-bottom: 50px;
	}
	.item2 h4:not(.parent){
		margin-left: 170px;
		color: darkblue;
	}
	.chart:not(.parent){
		height: 370px!important; 
		width: 100%!important;
	}